<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Ganado</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<nav class="navbar">
    <div class="logo">Mi App Ganadera</div>
    <ul class="nav-links">
        <li><a href="/"> 👨🏽‍🌾 Inicio</a></li>

        <li class="dropdown">
            <a href="#" class="dropbtn"> 📋 Listados <i class="fa-solid fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/fincas/lista">Listado de Fincas</a>
                <a href="/ganado/lista">Listado de Ganado</a>
                <a href="/tipos-animales/lista">Listado de Tipos</a>
            </div>
        </li>

        <li class="dropdown">
            <a href="#" class="dropbtn">➕ Registrar <i class="fa-solid fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/fincas/crear">Registrar Finca</a>
                <a href="/ganado/registrar">Registrar Ganado</a>
                <a href="/tipos-animales/crear">Registrar Tipo</a>
            </div>
        </li>
        
        </ul>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>


<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3>Mi App Ganadera</h3>
            <p>Sistema de gestión para el control de fincas y ganado.</p>
            <p>Email: contacto@mi-app-ganadera.com</p>
        </div>

        <div class="footer-section links">
            <h3>Enlaces Rápidos</h3>
            <ul>
                <li><a href="/">🏠 Inicio</a></li>
                <li><a href="/fincas/lista">📋 Fincas</a></li>
                <li><a href="/ganado/lista">➕ Ganado</a></li>
                </ul>
        </div>
    </div>

    <div class="footer-bottom">
        &copy; 2025 Mi App Ganadera | Desarrollado con FastAPI y SQLAlchemy
    </div>
</footer>
</body>
</html>
